<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="customer" class="com.sample.springassignment.autowiring.Customer">
		<property name="action" value="sale" />
		<property name="type" value="2" />
	</bean>

	<bean id="personA" class="com.sample.springassignment.autowiring.Person">
		<property name="name" value="Sarita" />
	</bean>
	
</beans>